{% extends './../includes/base.html' %}


{% block content %}
<div class="az-content-breadcrumb">
    <span>Dashboard</span>
    <span>Tables</span>
    <span>Cancelled Reservations</span>
</div>
<h2 class="az-content-title">Cancelled Reservations</h2>
<div class="az-content-label mg-b-5">Cancelled Reservation Table</div>
<p class="mg-b-20">Cancelled reservation information.</p>
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table" id="dataTable">
                <thead>
                    <tr>
                        <th>Fullname</th>
                        <th>Name</th>
                        <th>Product</th>
                        <th>Reservation</th>
                        <th>Status</th>
                        <th>Date Reserved</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in reservations %}
                    <tr>
                        <th>{{ item.reserved_by.get_full_name }}</th>
                        <td>
                            <b>{{ item.truck.driver.get_full_name }}</b> - {{ item.truck.plate_number }}
                        </td>
                        <th>{{ item.product_name }}</th>
                        <td>
                            <span class="badge bg-primary text-white">{{ item.reservation_type }}</span>
                        </td>
                        <td>
                            <span class="badge bg-{% if item.is_delivered %}primary{% else %}warning{% endif %} text-white">
                                {% if item.is_delivered %}Delivered{% else %}Pending Delivery{% endif %}
                            </span>
                        </td>
                        <th>{{ item.date_reserved }}</th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block specific_js %}
{% endblock %}
