{% extends './../includes/base.html' %}


{% block content %}
<div class="az-content-breadcrumb">
    <span>Dashboard</span>
    <span>Tables</span>
    <span>Reservations</span>
</div>
<h2 class="az-content-title">Reservations</h2>
<div class="az-content-label mg-b-5">Reservation Table</div>
<p class="mg-b-20">Manage reservation information.</p>
{% include './../includes/message.html' %}
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table" id="dataTable">
                <thead>
                    <tr>
                        <th>Reserved by</th>
                        <th>Product</th>
                        <th>Reservation</th>
                        <th>Date Reserved</th>
                        <th>Delivery Status</th>
                        <th>Driver Information</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in reservations_with_products %}
                    <tr>
                        <th>{{ item.reservation.reserved_by.get_full_name }}</th>
                        <td>
                            {% for product in item.products %}
                                <span class="badge bg-primary text-white">{{ product.product_name }} ({{ product.quantity }} - {{ product.delivery_quantity_type }})</span>
                            {% empty %}
                                <span class="badge bg-warning text-white">No products associated.</span>
                            {% endfor %}
                        </td>
                        <td>
                            <span class="badge bg-primary text-white">{{ item.reservation.reservation_type }}</span>
                        </td>
                        <th>{{ item.reservation.date_reserved }}</th>
                        <td>
                            <span class="badge bg-{% if item.reservation.is_delivered %}primary{% else %}warning{% endif %} text-white">
                                {% if item.reservation.is_delivered %}Delivered{% else %}Pending Delivery{% endif %}
                            </span>
                        </td>
                        <td>
                            <b>{{ item.reservation.truck.driver.get_full_name }}</b> - {{ item.reservation.truck.plate_number }}
                        </td>
                        <th>
                            <a href="{% url 'reservation_confirm' reservation_id=item.reservation.id %}">
                                <i class="typcn typcn-document-text action-icon" style="font-size: 20px;"></i>
                            </a>
                            <a href="{% url 'update_reservation' reservation_id=item.reservation.id %}">
                                <i class="typcn typcn-edit action-icon" style="font-size: 20px;"></i>
                            </a>
                            <a href="{% url 'delete_reservation' reservation_id=item.reservation.id %}">
                                <i class="typcn typcn-trash action-icon"></i>
                            </a>
                        </th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{% endblock %}
