{% extends './includes/regular_base.html' %}

{% block content %}
<div class="az-content-breadcrumb">
    <span>Dashboard</span>
    <span>Tables</span>
    <span>My Reservations</span>
</div>
<h2 class="az-content-title">My Reservations</h2>
<div class="az-content-label mg-b-5">My Reservation Table</div>
<p class="mg-b-20">Manage reservation information.</p>
{% include './includes/regular_message.html' %}
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table" id="dataTable">
                <thead>
                    <tr>
                        <th>Reserved by</th>
                        <th>Product</th>
                        <th>Reservation</th>
                        <th>Date Reserved</th>
                        <th>Delivery Status</th>
                        <th>Driver Information</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reservation_data in reservations_with_products %}
                    <tr>
                        <td>{{ reservation_data.reservation.reserved_by.get_full_name }}</td>

                        <td>
                            {% for product in reservation_data.products %}
                                <span class="badge bg-primary text-white">{{ product.product_name }} ({{ product.quantity }} - {{ product.delivery_quantity_type }})</span>
                            {% empty %}
                                <span class="badge bg-warning text-white">No products associated.</span>
                            {% endfor %}
                        </td>

                        <td>
                            <span class="badge bg-primary text-white">{{ reservation_data.reservation.reservation_type }}</span>
                        </td>
                        <td>{{ reservation_data.reservation.date_reserved }}</td>
                        <td>
                            <span class="badge bg-{% if reservation_data.reservation.is_delivered %}primary{% else %}warning{% endif %} text-white">
                                {% if reservation_data.reservation.is_delivered %}Delivered{% else %}Pending Delivery{% endif %}
                            </span>
                        </td>
                        <td>
                            {% if reservation_data.reservation.truck.driver.get_full_name == '' %}
                            <span class="badge bg-primary text-white">Waiting for staff to assign driver</span>
                            {% else %}
                            <b>{{ reservation_data.reservation.truck.driver.get_full_name }}</b> - {{ reservation_data.reservation.truck.plate_number }}
                            {% endif %}
                        </td>
                        <td>
                            <a onclick="confirmationAlert()" href="{% url 'regular_page_reservation_cancel' reservation_id=reservation_data.reservation.id %}">
                                <i class="typcn typcn-delete-outline action-icon" style="font-size: 20px;"></i>
                            </a>
                            <a href="{% url 'regular_page_reservation_update' reservation_id=reservation_data.reservation.id %}">
                                <i class="typcn typcn-edit action-icon" style="font-size: 20px;"></i>
                            </a>
                            <a href="{% url 'regular_page_reservation_remove' reservation_id=reservation_data.reservation.id %}">
                                <i class="typcn typcn-trash action-icon"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function confirmationAlert() {
        if (!confirm('Are you sure you want to cancel this reservation?')) {
            event.preventDefault();
        }
    }
</script>
{% endblock %}
