{% extends './includes/modified_base.html' %}
{% load static %}

{% block specific_css %}
<link href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css" rel="stylesheet">
<link href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" rel="stylesheet" />

{% endblock %}

{% block content %}
{% include './includes/regular_message.html' %}
<div class="card w-100">
    <div class="card-body">
        <div class="row">
            <div class="col-md-5">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        {% for input in product_form %}
                            <div class="col">
                                <div class="form-group mt-2">
                                    <label for="{{ input.id_for_label }}" class="form-label">{{ input.label }}</label>
                                    {{ input }}
                                    <small class="text-muted">{{ input.help_text }}</small>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div id="product-container"></div>
                    {% for input in reservation_form %}
                        {% if input.id_for_label == 'id_is_delivered' %}
                        <label class="ckbox form-label mt-2 mb-3">
                            {{ input }}
                            <span>{{ input.label }}</span>
                        </label>
                        {% elif input.id_for_label == 'id_date_reserved' %}
                        <div class="form-group mb-3">
                            <label for="{{ input.id_for_label }}" class="form-label">{{ input.label }}</label>
                            {{ input }}
                        </div>
                        {% else %}
                        <div class="form-group mt-2">
                            <label for="{{ input.id_for_label }}" class="form-label">{{ input.label }}</label>
                            {{ input }}
                            <small class="text-muted">{{ input.help_text }}</small>
                        </div>
                        {% endif %}
                    {% endfor %}
                    <div class="d-flex gap-3 align-items-center mt-3">
                        <button class="btn btn-az-primary mr-3">Create Reservation</button>
                        <button type="button" class="btn btn-secondary" id="add-product">Add Product</button>
                    </div>
                </form>
            </div>
            <div class="col-md-7">
                <div id="map" style="width: 100%; height: 100vh"></div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block specific_js %}
<script src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
<script>
    $(document).ready(function() {
    var productIndex = 1;

    $('#add-product').click(function() {
        var newProductForm = `
        <div class="row d-flex align-items-center" id="product-form-${productIndex}">
            <div class="col">
                <div class="form-group mt-2">
                    <label for="id_product_name_${productIndex}" class="form-label">Product</label>
                    <input type="text" name="product_name_${productIndex}" id="id_product_name_${productIndex}" class="form-control" required>
                </div>
            </div>

            <div class="col">
                <div class="form-group mt-2">
                    <label for="id_quantity_${productIndex}" class="form-label">Quantity</label>
                    <input type="number" name="quantity_${productIndex}" id="id_quantity_${productIndex}" class="form-control" required>
                </div>
            </div>

            <div class="col">
                <div class="form-group mt-2">
                    <label for="id_delivery_quantity_type_${productIndex}" class="form-label">Type</label>
                    <select name="delivery_quantity_type_${productIndex}" class="form-control" aria-describedby="id_delivery_quantity_type_helptext_${productIndex}" id="id_delivery_quantity_type_${productIndex}">
                        <option value="Sack" selected="">Sack</option>
                        <option value="Kilo">Kilo</option>
                    </select>
                </div>
            </div>

            <div class="col-auto">
                <div class="form-group mt-2">
                    <label class="form-label text-white">Type</label>
                    <button type="button" class="btn btn-danger remove-product" data-product-index="${productIndex}">
                    <i class="fa fa-trash"></i>
                    </button>    
                </div>
            </div>
        </div>
        `;

        $('#product-container').append(newProductForm);

        productIndex++;
    });

    $('#product-container').on('click', '.remove-product', function() {
        var productIndex = $(this).data('product-index');
        $('#product-form-' + productIndex).remove();
    });
});
</script>
<script>
    let map;
    let mapInitialized = false;
    let latitude, longitude;
    let marker;

    function enableLocation() {
        return new Promise((resolve, reject) => {
            if ("geolocation" in navigator) {
                navigator.geolocation.getCurrentPosition(
                    (position) => {
                        const latitude = position.coords.latitude;
                        const longitude = position.coords.longitude;
                        resolve({ latitude, longitude });
                    },
                    (error) => {
                        switch (error.code) {
                            case error.PERMISSION_DENIED:
                                reject("Permission denied. Please enable location access.");
                                break;
                            case error.POSITION_UNAVAILABLE:
                                reject("Location unavailable.");
                                break;
                            case error.TIMEOUT:
                                reject("Request timed out. Try again.");
                                break;
                            default:
                                reject("An unknown error occurred.");
                        }
                    }
                );
            } else {
                reject("Geolocation is not supported by your browser.");
            }
        });
    }


    function findMyLocation(latitude, longitude) {
        const ACCESS_TOKEN = 'pk.eyJ1IjoibmlraWUwMiIsImEiOiJjbTA5cTg4dHgxemwxMmpzaGpobno2bWczIn0.pA7T9PP1LMbliVaOCwhJRA';
        mapboxgl.accessToken = ACCESS_TOKEN;
        
        map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/satellite-streets-v12',
            center: [longitude, latitude],
            country: 'PH',
            zoom: 16,
            collectResourceTiming: false,
            attributionControl: false,
        });

        map.on('load', () => {
            const geocoder = new MapboxGeocoder({
                accessToken: ACCESS_TOKEN,
                mapboxgl: mapboxgl,
                proximity: { longitude, latitude },
                marker: true,
                placeholder: 'Search for a location...',
            });

            map.addControl(geocoder);

            geocoder.on('result', (event) => {
                const coordinates = event.result.geometry.coordinates;
                const formattedLocation = `${coordinates}`

                document.querySelector("#id_location").value = formattedLocation
                map.flyTo({
                    center: coordinates,
                    zoom: 16,
                });
            });
        });
    }

    function initializeMap() {
        enableLocation()
            .then(location => {
                findMyLocation(
                    location.latitude, 
                    location.longitude
                );
            })
            .catch(error => {
                alert(error);
            });
    }

    initializeMap();
</script>
{% endblock %}
