{% load static %}
<div class="az-header">
    <div class="container">
      <div class="az-header-left">
        <a href="{% url 'reservation' %}" class="az-logo"><span></span> Sta. Catalina</a>
        <a href="" id="azMenuShow" class="az-header-menu-icon d-lg-none"><span></span></a>
      </div>
      <div class="az-header-menu">
        <div class="az-header-menu-header">
          <a href="{% url 'reservation' %}" class="az-logo"><span></span> azia</a>
          <a href="" class="close">&times;</a>
        </div>
        <ul class="nav">
          <li class="nav-item">
            <a href="{% url 'reservation' %}" class="nav-link with-sub"><i class="typcn typcn-book"></i> Reservation</a>
            <div class="az-menu-sub">
              <div class="container">
                <div>
                  <nav class="nav">
                    <a href="{% url 'reservation' %}" class="nav-link">Manage Reservation</a>
                  </nav>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a href="{% url 'truck' %}" class="nav-link with-sub"><i class="typcn typcn-book"></i> Manage Truck</a>
            <div class="az-menu-sub">
              <div class="container">
                <div>
                  <nav class="nav">
                    <a href="{% url 'truck' %}" class="nav-link">Manage Truck</a>
                    <a href="{% url 'truck_create' %}" class="nav-link">Create Truck</a>
                    <a href="{% url 'truck_driver' %}" class="nav-link">Driver</a>
                  </nav>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a href="{% url 'users' %}" class="nav-link with-sub"><i class="typcn typcn-book"></i> Manage Users</a>
            <div class="az-menu-sub">
              <div class="container">
                <div>
                  <nav class="nav">
                    <a href="{% url 'users' %}" class="nav-link">Manage Users</a>
                    <a href="{% url 'user_create' %}" class="nav-link">Create User</a>
                  </nav>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="az-header-right">
        <div class="dropdown az-profile-menu">
          <a href="" class="az-img-user"><img src="{% static 'img/logo.jpeg' %}" alt=""></a>
          <div class="dropdown-menu">
            <div class="az-dropdown-header d-sm-none">
              <a href="" class="az-header-arrow"><i class="icon ion-md-arrow-back"></i></a>
            </div>
            <a href="/admin" class="dropdown-item"> Super Admin</a>
            <div class="az-dropdown-header d-sm-none">
              <a href="" class="az-header-arrow"><i class="icon ion-md-arrow-back"></i></a>
            </div>
            <a href="{% url 'logout_me' %}" class="dropdown-item"> Sign Out</a>
          </div>
          
        </div>
      </div>
    </div>
  </div>